/*
 will also import image from assets once image is chosen for container background
*/

.options {
    background-color: white;
}

.container {
   background-color: #FFDFD3; 
   width: 600px;
   height: 180px;
}

.question {

    font-style: italic;
}


