.routinewrapper {
    background: #6B2E32;
    padding: 3rem;
    border-radius: 10px;
}

.morning {
    cursor: pointer;
}

.night {
    margin-top: 5rem;
    cursor: pointer;
}

.morning-item,
.night-item {
    color: #F2E4DA;
    text-align: left;
}

.trash {
    cursor: pointer;
    padding-left: 10px;
}

.morning,
.night {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
    margin-left: 1.5em;
    font-size: 30px;
    color: #F2E4DA;
}